spring:
  application:
    name: spring-starter
  profiles:
    active: dev

  cloud:
    nacos:
      server-addr: ${NACOS_IP:127.0.0.1}:${NACOS_PORT:8848}
      username: ${NACOS_USERNAME:}
      password: ${NACOS_PASSWORD:}
      config:
        enabled: false
        namespace: ${NACOS_NAMESPACE:dev}
        group: ${NACOS_GROUP:server}
        file-extension: yaml

  config:
    import:
      - optional:nacos:${spring.application.name}

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://127.0.0.1/test?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=Asia/Shanghai
    username: root
    password: root

  # RabbitMQ 配置
  rabbitmq:
    host: "127.0.0.1"
    port: 5672
    username: test
    password: test
    virtual-host: "base_vhost"
    connection-timeout: 10000
    # 消费者配置
    listener:
      simple:
        concurrency: 10  # 最小消费者数量
        max-concurrency: 20  # 最大消费者数量
        prefetch: 1  # 每个消费者每次从队列中取多少条消息处理
        acknowledge-mode: auto  # 确认模式，auto自动确认

  # Redis 配置
  data:
    redis:
      host: "127.0.0.1"
      port: 6379
      password: ""
      database: 13
      timeout: 5000ms
      lettuce:
        pool:
          max-active: 20  # 连接池最大连接数
          max-idle: 10  # 连接池最大空闲连接数
          min-idle: 5  # 连接池最小空闲连接数
          max-wait: 2000ms  # 连接池最大阻塞等待时间

server:
  port: 8000
  servlet:
    context-path: /

# 数据库日志输出
decorator:
  datasource:
    p6spy:
      enable-logging: true
      multiline: false
      log-format: "\ntime:%(executionTime) || sql:%(sql)\n"

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.nologging.NoLoggingImpl

logging:
  level:
    com.alibaba.nacos: ERROR
    com.alibaba.nacos.common: ERROR